.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}
.buttonWrapper {
    display: flex;
    gap: 12px;
}
.button {
    width: 32px;
    height: 32px;
    background-color: #ECEFF1;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: default
}

.button:focus {
    background-color: #b9bdbe;
}

.swiperSlide {
    height: auto;
    display: flex;
    flex-direction: column;
}